
advertools==0.11.1

altair==4.1.0

emoji==1.2.0




numpy==1.19.5


streamlit==0.82.0


wordcloud==1.8.1
regex>=2.5.93




PIL>=8.2.0

seaborn==0.11.1
plotly==4.14.3

matplotlib>=1.4.3
pandas==1.2.4


